<div id="contact-section" class="row">
  <div  class="col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <div class="section-header">
        <h3>{{'contact.title' | translate}}</h3>
      </div>
      <br>
      <div class="row contact-info">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h6>{{'contact.address' | translate}}</h6>
              <address>{{'contact.address_description' | translate}}</address>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h6>{{'contact.phone' | translate}}</h6>
              <p>{{'contact.phone_description' | translate}}</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h6>{{'contact.mail' | translate}}</h6>
              <p>{{'contact.mail_description' | translate}}</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="./assets/img/maps.jpg" alt="" style="width:50%">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFormName">{{'contact.name' | translate}}</label>
                <input type="text" class="form-control" id="inputFormName">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFormMail">{{'contact.mail' | translate}}</label>
                <input type="email" class="form-control" id="inputFormMail">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFormPhone">{{'contact.phone' | translate}}</label>
                <input type="text" class="form-control" id="inputFormPhone">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputFormComments">{{'contact.comments' | translate}}</label>
                <textarea class="form-control" id="inputFormComments" rows="3"></textarea>
              </div>
            </div>
            <button type="submit" class="btn" style="background-color: #FB532E; color:#fff">{{'contact.send' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>